
.text-container {
    grid-area: description;
    border: 3px solid #ffffff;
    background-color: #ffffff;
}

.textbox {
    display: grid;
    grid-template-areas: 'img txt txt';
    grid-gap:10px;
    width: 968px;
    height: 100px;
}

.img {
    grid-area: img;
    width: 100px;
    height: 100px;
}

.text{
    grid-area: txt;
    font: 700 12px Arial;
}

.btn-questao:hover {
    border: 2px solid #48B8FA;
    border-radius: 10px;
    background-color: #ffffff;
    color: #48B8FA;
}

.btn-questao {
    width: 120px;
    height: 40px;
    transition: 0.3s;
    font: 700 18px Poppins;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    text-decoration: none;
    border: 2px solid #ffffff;
    border-radius: 10px;
    background-color: #48B8FA;
    color: #ffffff;
}

.text-questao {
    display: flex;
    justify-content: center;
    color: #48B8FA;
    font: 700 25px Poppins;
}

.textarea-questao {
    background-color: #F8F8FC;
    border-radius: 10px;
    border: 1px solid #F8F8FC;
    outline: 0;
    min-width: 294px;
    min-height: 409px;
    max-width: 294px;
    max-height: 409px;
}