.game-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.game-grid{
    position: relative;
    margin: 30px auto;
    background-color: #fff;
    border:3px solid #000;
    width: 768px;
    height: 576px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.hero{
    width: 64px;
    height: 64px;
    background-image: url(../assets/walk.png);
    position: absolute;
}

.grid-item{
    width: 64px;
    height: 64px;
    background-color: aqua;
    
}
