
.game-grid{
    position: relative;
    margin: 30px auto;
    border:2px solid #000;
    width: 1159px;
    height: 596px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.game-map{
    width: 1152px;
    height: 594px;
    background-image: url(../assets/background.png);

}

.hero{
    width: 64px;
    height: 64px;
    background-image: url(../assets/walk.png);
    position: absolute;
}

.grid-item{
    width: 64px;
    height: 64px;
    background-color: aqua;
    
}

.checkpoint{
    width: 43px;
    height: 43px;
    position: absolute;
    background-image: url(../assets/checkpoint.png);
}
