* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ddd;
}

.game-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-grid {
    position: relative;
    margin: 20px auto;
    border: 2px solid #000;
    width: 1156px;
    height: 598px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}



.title {
    text-align: center;
    font-size: 2rem;
    color: #555;
    margin-top: 0px;
    margin-bottom: 1rem;
}

.logo {
    background-image: url(./assets/game_name.png);
}

.face_male{
    width: 144px;
    height: 144px;
    border: 1px solid #000;

    background-image: url(./assets/face_male.png);
}


.face_woman{
    width: 144px;
    height: 144px;
    border: 1px solid #000;

    background-image: url(./assets/face_woman.png);
}
